body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 70px;
}

/* Navigation Section */
.top-navigation {
    position: fixed;
    top: 0;
    z-index: 9999;

    width: 100%;
    border-bottom: 1 px solid #ddd;

    background-color: #fff;
}
.top-navigation > .content {
    height: 4.375rem;
    width: 70%;
    margin: auto;
    
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;

    color: #4c5058;
    font-size: 1.04rem;
    margin-top: 1.7rem;


}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;


}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
    
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.logo {
	height: 4.375rem;
    /*margin-left: 275px;*/

}
.introduction__content__button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    color: white;
    font-size: 1.125rem;
    text-align: center;
} 
.introduction__content__button:hover {
	background-color: #333;
	cursor: pointer;
}
.introduction {
    background: url('../images/background-image.jpg');
  	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    padding: 11rem 0;
    text-align: center;
}
.introduction__content__title,
.introduction__content__subtitle {
    color: white;
    text-align: center;
    font-weight: 300;
}
.introduction__content__title {
    margin-bottom: 2rem;
    font-size: 3.125rem;
}
.introduction__content__subtitle {
    margin-bottom: 2rem;
    font-size: 1.563rem;
}

/*  MAIN CONTENT
    ====================== */
.main-content {
    text-align: center;
}

.main-content__title {
    margin-top: 120px;
    
    font-size: 50px;
    font-weight: 200;
}

.main-content__icon-list {
    margin: 0 0 100px;
    padding: 0;
}

.main-content__icon-list__item {
    display: inline-block;
}

.main-content__icon-list__item img {
    width: 127px;
}

.main-content__icon-list__item span {
    display: block;
    width: 70%;
    margin: 30px auto 0;
    
    font-size: 25px;
}

/*  FOOTER
    ====================== */