/*Need further explanation*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;}
body {
    font:'Roberto', sans-serif;
}

/*Navigation Section*/
}
.top-navigation {
    background-color: black;
}
.top-navigation .content {
    width:700px;
    height: 70px;
    margin: auto;
  }
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.logo {
    height: 70px;
}
.top-navigation .active {
    color:#4c5058;
    font-weight: bold;
}
.top-navigation .links li:hover{
    cursor: pointer;
    color: #333;
}

/*Introduction/Background Image*/
/*Need further explantion, some are not neccessary. Need to know how to chop the top off*/
.introduction {
    background-image: url('../images/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    padding: 11rem 0;
    text-align: center;
}
.introduction .content h1,
.introduction .content h3 {
    text-align: center;
    color: white;
    font-weight: 200;


}
.introduction .content h1 {
    margin-top: 5rem;
    font-size: 3.125rem;
}
.big-button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
   
}
.big-button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}
.cases {
    text-align: center;
    margin-top: 7.875rem;
    font-size: 2.75rem;
}